:root {
    --graphite: #c0c0c0;
    --graphite-dark: #757575;
}

.errorMsg {
    color: red;
    font-weight: bold;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem
}

textarea {
    resize: none;
}

label {
    font-weight: bold;
    margin-top: 1rem;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.submitBtn {
    border-radius: 5px;
    padding: 0.5rem;
    width: 250px;
    
    border: none;
    font-size: 1.75rem;
    font-weight: bold;
    background-color: transparent;
    margin-top: 1rem;
}


.submitBtn:hover {
    /* text-decoration: underline; */
    border: 2px solid var(--graphite);
    color: var(--graphite-dark);
    background-image: url('../images/background-img.png');
}