@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Fredericka+the+Great&display=swap');

:root {
    --nav-background-color: #DDE5F8;
    --nav-text-color: #0A58CA;
    --page-number-color: #cd0c0c;
    --text-color: #202124;
}

* {
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
    line-height: 1.75rem;
}

nav {
    background-color: var(--nav-background-color);
}

.active {
    text-decoration: underline !important;
}

h1,
h2 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

h2 {
    font-size: 3rem !important;
}

h3 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2rem !important;
}

body {
    /* Grid paper background pattern styling starts below */
    height: 100vh;
    margin: 0 auto;
    /* Controls color of the boxes */
    background-color: white;
    /* First linear-gradient creates the horizontal lines in the grid pattern, second one creates the vertical lines */
    background-image:
        linear-gradient(var(--nav-background-color) .1rem, transparent .1rem),
        linear-gradient(90deg, var(--nav-background-color) .1rem, transparent .1rem);
    /* Controls size of the boxes */
    background-size: 2.5rem 2.5rem;
    /* Offsets the grid styling so it looks trimmed to the window */
    background-position: -0.1rem -0.1rem;
}

/* Mobile and tablets */
@media screen and (max-width: 992px) {
    .contentWrapper {
        padding-bottom: 10rem
    }

    .nav-link {
        text-align: center;
    }

    /* Resume button stylings */
    .button {
        background-color: transparent;
        border: var(--text-color) 1px dashed;
        border-radius: 5px;
        text-decoration: none;
    }

    .button>a {
        text-decoration: none;
        color: var(--text-color);
    }

    .button>a:active {
        text-decoration: none;
        color: var(--text-color);
    }

    nav{
        padding: 12px !important;
    }
}

/*Desktop layout*/
@media screen and (min-width: 992px) {

    /* Provides space between content and footer */
    .contentWrapper {
        padding-bottom: 4.5rem
    }

    /* Resume button stylings */
    .button {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border: var(--text-color) 1px dashed;
        border-radius: 5px;
    }

    .button>a {
        text-decoration: none;
        color: var(--text-color);
    }

    .button>a:active {
        text-decoration: none;
        color: var(--text-color);
    }

    nav{
        padding: 3.75px !important;
    }
}